USE [master]
GO
/****** Object:  Database [cadastros]    Script Date: 24/11/2022 17:55:52 ******/
CREATE DATABASE [cadastros]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'cadastros', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\cadastros.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'cadastros_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\cadastros_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [cadastros].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [cadastros]
GO
/****** Object:  Table [dbo].[Agencias]    Script Date: 24/11/2022 17:55:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Agencias](
	[IDAgencia] [int] NOT NULL,
	[dac_agencia] [int] NULL,
	[nome_agencia] [varchar](50) NULL,
	[datacad_agencia] [datetime] NULL,
 CONSTRAINT [PK_IDAgencia] PRIMARY KEY NONCLUSTERED 
(
	[IDAgencia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Contas]    Script Date: 24/11/2022 17:55:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contas](
	[IDConta] [int] IDENTITY(1,1) NOT NULL,
	[Agencia_Conta] [int] NOT NULL,
	[Num_Conta] [int] NOT NULL,
	[dac_conta] [char](1) NULL,
	[cart_conta] [varchar](3) NULL,
	[obs_conta] [varchar](500) NULL,
	[datacad_conta] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDConta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_agencias_contas]    Script Date: 24/11/2022 17:55:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_agencias_contas] 
AS 
SELECT A.datacad_agencia, A.IDAgencia, A.dac_agencia, A.nome_agencia, C.datacad_conta,
C.Num_Conta, C.dac_conta, C.cart_conta, c.obs_conta FROM Agencias A
INNER JOIN Contas C ON A.IDAgencia = C.Agencia_Conta
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [ix_agencia]    Script Date: 24/11/2022 17:55:52 ******/
CREATE UNIQUE NONCLUSTERED INDEX [ix_agencia] ON [dbo].[Agencias]
(
	[nome_agencia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [ix_nomeagencia]    Script Date: 24/11/2022 17:55:52 ******/
CREATE NONCLUSTERED INDEX [ix_nomeagencia] ON [dbo].[Agencias]
(
	[nome_agencia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [ix_agconta]    Script Date: 24/11/2022 17:55:52 ******/
CREATE NONCLUSTERED INDEX [ix_agconta] ON [dbo].[Contas]
(
	[Agencia_Conta] ASC,
	[Num_Conta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [ix_numconta]    Script Date: 24/11/2022 17:55:52 ******/
CREATE NONCLUSTERED INDEX [ix_numconta] ON [dbo].[Contas]
(
	[Num_Conta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Contas]  WITH CHECK ADD  CONSTRAINT [FK_Agctas] FOREIGN KEY([Agencia_Conta])
REFERENCES [dbo].[Agencias] ([IDAgencia])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Contas] CHECK CONSTRAINT [FK_Agctas]
GO
USE [master]
GO
